<form action="/stock/create" method="post" class="form">
    <input type="hidden" name="owner" value="<%= customer.id %>"/>
    <div class="col-md-12">
        <div class="form-group">
            <label for="symbol">Symbol: </label>
            <input class="form-control" name="symbol" type="text"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="number_of_shares">Number of Share: </label>
            <input class="form-control" name="number_of_shares" type="text"/>
        </div>
    </div>
    <input class="btn btn-success" type="submit" name="create" value="Create"/>
    <a class="btn btn-default" href="javascript:history.back();">Cancel</a>
</form>