<div class="page-header">
    <h3><%= stock.symbol %></h3>
    <p><strong>Id: </strong><%= stock.id %></p>
    <p><strong>Number: </strong><%= stock.number_of_shares %></p>
</div>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-block btn-sm btn-default" href="javascript:history.back();">Back Home</a>
    </div>
</div>

