<form action="/customer/create" method="post" class="form">
    
    <% if (flash && flash.err) { %>
        <ul class="alert alert-success">
            <% Object.keys(flash.err).forEach(function(error) { %>
            <li><%- JSON.stringify(flash.err[error]) %></li>
            <% }) %>
        </ul>
    <% } %>
    
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Name: </label>
            <input class="form-control" name="name" type="text"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="email">Email: </label>
            <input class="form-control" name="email" type="email"/>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="state">State: </label>
            <input class="form-control" name="state" type="text"/>
        </div>
    </div>
    <input class="btn btn-success" type="submit" name="create" value="Create"/>
    <a class="btn btn-default" href="/customer/">Cancel</a>
</form>