<div class="page-header">
    <h3><%= customer.name %></h3>
    <p><strong>Email: </strong><%= customer.email %></p>
    <p><strong>State: </strong><%= customer.state %></p>
</div>

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-block btn-sm btn-defult" href="/customer/">Back Home</a>
    </div>
</div>